body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 20px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #e63900;
}

#meme-container {
    margin-top: 20px;
}

#meme-image {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}
#video-element {
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}


#music-container {
    margin: 0 auto;
}

#song-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}